body{
margin:0;
font-family:Arial;
background:#ece5dd;
}

.app{
width:400px;
margin:auto;
background:white;
height:95vh;
display:flex;
flex-direction:column;
}

header{
background:#075e54;
color:white;
padding:15px;
font-size:20px;
text-align:center;
}

#messages{
flex:1;
padding:10px;
overflow-y:auto;
background:#e5ddd5;
}

.message{
padding:8px;
margin:5px;
border-radius:8px;
max-width:70%;
background:white;
}

.me{
background:#dcf8c6;
margin-left:auto;
}

.sendBox{
display:flex;
padding:10px;
background:#f0f0f0;
}

.sendBox input{
flex:1;
padding:10px;
border:none;
border-radius:5px;
}

.sendBox button{
background:#25d366;
border:none;
color:white;
padding:10px 15px;
margin-left:5px;
border-radius:5px;
cursor:pointer;
}